/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/


h1 {
    color: #d63061;
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: white solid 3px;
    position: absolute;
    left: 475px;
    bottom: 363.109px;
}

body {
    font-family: 'nunito';
    background-color: #b2bec3;
    margin: 0;
}

p {
    font-size: 18px;
    text-align: justify;
}

.second {
    margin-bottom: 30px;
}

.box {
    width: 490px;
    margin: 150px auto 0px auto;
    box-sizing: content-box;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
    position: relative;
}

.facebook {
    background-color: #3b5998;
    display: block;
    color: white;
    text-align: center;

}

.twitter {
    background-color: #1da1f2;
    display: block;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

a {
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px 100px;
    text-decoration: none;
    font-weight: bold;

}